@media screen and (min-width: 1920px) {
}
@media screen and (max-width: 1390px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 990px) {
    .carousel-caption iframe {
        display: none;
    }
    .carousel-item {
        height: 300px !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .container-fluid.mb-5.wow.fadeIn {
        margin-bottom: 0px !important;
    }
    .box-doi-ngu {
        flex-direction: column;
    }
    .box-doi-ngu .col {
        width: 50%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 480px) {
}
